<span fxLayout="column" >
  <div fxFlex="100">
    <h2
      style="margin:2px;margin-bottom: 20px; border-left: 3px solid green;padding-left: 10px;font-family:'Josefin Sans', sans-serif !important">
      Portfolio</h2>
    <span>
      I have more than 7 years experience building software for clients all over the world. Below is a quick
      overview of my main technical skill sets and technologies I use. Want to find out more about my experience?
      Check out my online resume and project portfolio.
    </span>
  </div>
</span>

